<h3>Lista Estudiantes</h3>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
  +
</button>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">RU</th>
      <th scope="col">NOMBRE</th>
      <th scope="col">AP</th>
      <th scope="col">AM</th>
      <th scope="col">ESTADO</th>
      <th scope="col">OPCIONES</th>
    </tr>
  </thead>
  <tbody>
    @for(dat of listaStudent(); track dat.ru) {
    <tr>
      <th scope="row">{{dat.ru}}</th>
      <td>{{dat.name}}</td>
      <td>{{dat.ap}}</td>
      <td>{{dat.am}}</td>
      <td>{{dat.estado}}</td>
      <td>
          <button type="button" (click)="cargarAlumnos(dat.ru)" class="btn btn-primary">Modificar</button>
          &nbsp;
          <button (click)="eliminar(dat.ru)" type="button" class="btn btn-success">Eliminar</button>
        </td>
    </tr>
    }
  </tbody>
</table>

<router-outlet />
<!-- Modificar Modal -->
<div class="modal fade" #modModal id="modificarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modificar Estudiante2</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form  [formGroup]="regForm" (ngSubmit)="guardarModificacion()">
      <div class="modal-body">
        <label for="">RU:</label>
        <input type="text" formControlName="ru" class="form-control"> <br>
        <label for="">NOMBRE:</label>
        <input type="text" formControlName="name" class="form-control"><br>
        <label for="">AP. MATERNO:</label>
        <input type="text" formControlName="ap" class="form-control"><br>
        <label for="">AP. PATERNO:</label>
        <input type="text" formControlName="am" class="form-control"><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Modificar</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Adicionar Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar Estudiante4</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="regForm" (ngSubmit)="anadirEstudiante()">
          <div class="modal-body">
            <label>RU:</label>
            <input type="text" formControlName="ru" class="form-control"><br>
            <label>Nombre:</label>
            <input type="text" formControlName="name" class="form-control"><br>
            <label>Apellido Paterno:</label>
            <input type="text" formControlName="ap" class="form-control"><br>
            <label>Apellido Materno:</label>
            <input type="text" formControlName="am" class="form-control"><br>
            <label>Estado:</label>
            <input type="number" formControlName="estado" class="form-control"><br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">
              Cancelar
            </button>
            <button type="submit" class="btn btn-primary">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  +
</button>
<ul>
    @for(dat of listaStudent(); track dat.ru) {
      <li>{{dat.ru}} {{dat.name}} {{dat.ap}} {{dat.am}} {{dat.estado}}</li>
    } @empty {
      <li>No se encontraron estudiantes o el formato es incorrecto.</li>
    }
</ul>
<hr>
-->
  <!-- Modal -->
   <!--
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar Alumnos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form  [formGroup]="regForm" (ngSubmit)="enviarDatos()">
            <div class="modal-body">
              <label for="">RU:</label>
              <input type="text" formControlName="ru" class="form-control"> <br>
              <label for="">NOMBRE:</label>
              <input type="text" formControlName="name" class="form-control"><br>
              <label for="">AP. MATERNO:</label>
              <input type="text" formControlName="ap" class="form-control"><br>
              <label for="">AP. PATERNO:</label>
              <input type="text" formControlName="am" class="form-control"><br>
            </div>
            <div class="modal-footer">
              <button type="button" #botoncerrar class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
      </form>
    </div>
  </div>
</div>
<router-outlet />-->
<!--<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ru</th>
      <th scope="col">nombre</th>
    </tr>
  </thead>
  <tbody>
    @for (xest of listaEstudiantes(); track xest) {
      <tr>
        <td>{{1}}</td>
        <td>{{xest.ru}}</td>
        <td>{{xest.name}}</td>
      </tr>
    }
  </tbody>
</table>-->
<!--
<ul>
  @for (xest of listaEstudiantes(); track xest) {
    <li>{{xest.ru}} - {{xest.name}}</li>
  }
</ul>
-->
<!--<h1>Lista de Comentarios</h1>
<ul>
  @for (xcom of listaComentarios(); track xcom) {
    <li>{{xcom.id}} - {{xcom.name}} - {{xcom.email}}</li>
  }
</ul>
-->
<!--<form [formGroup]="regForm" (ngSubmit)="enviarDatos()">
  <label for="placa">Placa</label>
  <input
    id="placa"
    type="text"
    formControlName="placa"
    class="form-control"
    [ngClass]="{'is-valid': !f['placa'].invalid, 'invalid': f['placa'].invalid}">
  @if (f['placa'].invalid && xenviado) {
    <div class="alert alert-danger">
      @if (f['placa'].errors?.['required']) {
        <div>Debe ingresar la placa.</div>
      }
      @if (f['placa'].errors?.['minlength']) {
        <div>Debe tener minimo 4 caracteres</div>
      }
      @if (f['placa'].errors?.['pattern']) {
        <div>Ingrese solo numeros</div>
      }
    </div>
  }
  <br>
  <label for="color">Color</label>
  <input
    id="color"
    type="text"
    formControlName="color"
    class="form-control"
    [ngClass]="{'is-valid': !f['color'].invalid, 'invalid': f['color'].invalid}">
  @if (f['color'].invalid && xenviado) {
    <div class="alert alert-danger">
      @if (f['color'].errors?.['required']) {
        <div>Debe ingresar el color.</div>
      }
      @if (f['color'].errors?.['maxlength']) {
        <div>maximo 10 caracteres.</div>
      }
    </div>
  }
  <br>
  <label for="modelo">Modelo</label>
  <input
    id="modelo"
    type="number"
    formControlName="modelo"
    class="form-control"
    [ngClass]="{'is-valid': !f['modelo'].invalid, 'invalid': f['modelo'].invalid}">
  @if (f['modelo'].invalid && xenviado) {
    <div class="alert alert-danger">
      @if (f['modelo'].errors?.['required']) {
        <div>Debe ingresar el modelo.</div>
      }
      @if (f['modelo'].errors?.['min']) {
        <div>minimo 4 dígitos(mayor a 1000).</div>
      }
      @if (f['modelo'].errors?.['max']) {
        <div>maximo 4 digitos (menor a 9999)</div>
      }
    </div>
  }
  <br>
  <label for="registrado">Registrado</label><br>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="si" id="si" value="si" >
    <label class="form-check-label" for="si">SI</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="no" id="no" value="no" checked>
    <label class="form-check-label" for="no">NO</label>
  </div>
  @
  <br>
  <label for="departamento">Departamento</label>
  <select
    id="departamento"
    class="form-select"
    formControlName="departamento">
    <option value="" disabled>Seleccione un departamento</option>
    @for (departamento of depto; track departamento) {
      <option [value]="departamento">
        {{ departamento }}
      </option>
    }
    @if (f['departamento'].invalid && xenviado) {
      <div class="alert alert-danger">
        @if(f['departamento'].errors?.['required']){
          <div class="alert alert-danger">  Departamento seleccionado: {{ f['departamento'].value }}</div>
        }
    }
  </select>
  <br>
  <label for="email">Email</label>
  <input
    id="email"
    type="text"
    formControlName="email"
    class="form-control"
    [ngClass]="{'is-valid': !f['email'].invalid, 'invalid': f['email'].invalid}">
    @if (f['email'].invalid && xenviado) {
      <div class="alert alert-danger">
        @if (f['email'].errors?.['required']) {
          <div>Debe ingresar el email.</div>
        }
        @if (f['email'].errors?.['pattern']) {
          <div>maximo 12 caracteres.</div>
        }
      </div>
    }
  <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<router-outlet></router-outlet>
-->
